@import 'app/_shared/const/variables';

.main {
    background-color: $black5p;
    border: 1px solid $black10p;
    border-radius: $point * 2;

    @media (any-hover: hover) {
        transition: background-color $transition;

        &:hover {
            background-color: $black10p;
        }
    }
}
